@import "styles/vars";

.card {
  width: 343px;
  border-radius: 8px;
  background-color: var(--whiteToSuperGray);
  padding: 28px 12px 14px 12px;
  box-shadow: var(--boxShadow);
  z-index: -1;
  display: block;
  margin: 0 auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container:not(:last-child) {
  margin-bottom: 12px;
}

.label {
  font-size: 14px;
  line-height: 1.29;
  color: var(--rollingStone);

  span {
    font-size: 13px;
    margin-left: 4px;
    color: var(--bombay);
    cursor: pointer;
  }
}

.info {
  font-size: 14px;
  line-height: 1.29;
  color: var(--codGray);
}

.path {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: var(--codGray);
  font-weight: 500;

  :global(.icon-arrow-right) {
    margin: 0 4px;
    font-size: 9px;
    color: var(--catsKillWhiteToLightGray);
  }
}

.path-container:last-child :global(.icon-arrow-right) {
  display: none;
}

.button-group {
  display: flex;

  button {
    height: 24px;
    border-radius: 4px;
    padding: 0 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--rollingStone);
    font-size: 12px;
    background-color: var(--lightAthensGrayToGray);
    border: 1px solid var(--lightAthensGrayToGray);
    margin-left: 6px;
    transition: ease-in;
  }

  button:global(.active) {
    background-color: var(--blueRibbon);
    border: 1px solid var(--blueRibbon);
    color: white;
  }

  button:global(.active):hover {
    background-color: var(--highBlue);
    border: 1px solid var(--highBlue);

    input {
      background-color: var(--highBlue);
    }
  }
}

.custom {
  width: 80px;

  input {
    width: 60px;
    border: none;
    outline: none;
    background-color: var(--lightAthensGrayToGray);
    color: var(--rollingStone);
    padding-left: 0;
    transition: ease-in;
  }
}

.custom:global(.active) {
  input {
    background-color: var(--blueRibbon);
    color: white;
  }

  input::placeholder {
    color: white;
  }
}
.best-rate-container {
  display: flex;
  flex-direction: row;
}
.difference {
  font-family: SofiaPro;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.8;
  letter-spacing: normal;
  color: var(--codGray);
  height: 16px;
  margin-right: 5px;
}

.best-rate-box {
  width: 54px;
  height: 20px;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    70deg,
    #50b0d8,
    #63d65a 21%,
    #eacd3d 37%,
    #f79417 56%,
    #da5131 74%,
    #8155be
  );

  span {
    font-family: SofiaPro;
    font-size: 10px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.4;
    letter-spacing: normal;
    color: #fff;
  }
}

.tooltip {
  border-radius: 0.25rem;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.13) !important;
  font-family: SofiaPro;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  background-color: var(--white);
  text-align: left;
  padding: 9px 12px 9px 12px;
  max-width: 315px;
}
